---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

const title = 'empty';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={title} />
	</head>
	<body>
		<Header />
		<main class="page" aria-label="Empty desktop">
			<figure class="page__figure">
				<img
					src="/d.jpg"
					alt="Dog"
					fetchpriority="high"
					decoding="async"
					width="236"
					height="389"
				/>
			</figure>
		</main>
		<Footer />
	</body>
</html>
